*
!package.json
!package-lock.json
!scripts/build-shared.sh
!scripts/lib.sh
!home-shared/
!home-server/
!home-web-ui/
**/node_modules
**/.env*
**/build
**/.build.tmp
**/.build.lock
**/.next
**/*.tsbuildinfo
**/README.md
home-server/storage
