@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --container-site-min: 320px;
  --color-portrait-sky: #6aaaf0;
  --color-portrait-haze: #d5d8ee;
  --color-portrait-dusk: #f0a585;
}
